*
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #2f2f2f;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

aside {
  position: relative;
  background-color: #f12e68;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  opacity: .95;
}

.player__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #151515;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 100vh;
}

.player__head {
  position: sticky;
  top: 0;
  background-color: #151515;
}

.player__header {
  text-align: center;
  background-color: #f12e68;
  margin: 0;
  padding: 1rem 0;
}

.player__equalizer {
  min-height: 200px;
  background-image: radial-gradient(#f12e68, #2f2f2f);
}

.player__controls {
  text-align: center;
  padding: 1rem;
}

.player__playlist {
  flex-grow: 1;
  background-color: #2f2f2f;
  overflow: auto;
}

.player__playlist__list {
  margin: 0;
  padding: 1rem 2rem;
}

.player__playlist__list__item {
  padding: 1rem 0;
}
