
//Theme
$c-bg: #2f2f2f;
$c-bgplayer: #151515;
$c-text: #fff;
$c-primary: #f12e68;


//Global Styles

*
*::before,
*::after{
    box-sizing: border-box;
}

html{
    min-height: 100%; 
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}

body{
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: $c-bg;
    color: $c-text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
aside{
    position: relative;
    background-color: $c-primary;
    width: 100%;
    text-align: center;
    //position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    //opacity: .95;
}

//Player
.player{
    &__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $c-bgplayer;
        width: 100%;
        max-width: 600px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        height: 100vh;
    }
    &__head{
        position: sticky;
        top: 0;
        background-color: $c-bgplayer;
    }
    &__header{
        text-align: center;
        background-color: $c-primary;
        margin: 0;
        padding: 1rem 0;
    }
    &__equalizer{
        min-height: 200px;
        background-image: radial-gradient($c-primary, $c-bg);
    }
    &__controls{
        text-align: center;
        padding: 1rem 0;
    }
    &__playlist{
        flex-grow: 1;
        background-color: $c-bg;
        overflow: auto;
        &__list{
            margin: 0;
            padding: 1rem 2rem;
            &__item{
                padding: 1rem 0;
            }
        }
    }
}
