
//Theme
$c-bg: #2f2f2f;
$c-bgplayer: #151515;
$c-text: #fff;
$c-primary: #f12e68;


//Global Styles

*
*::before,
*::after{
    box-sizing: border-box;
}

html{
    min-height: 100%; 
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}

body{
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: $c-bg;
    color: $c-text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
aside{
    position: relative;
    background-color: #fff;
    width: 100%;
    text-align: center;
}

//Player
.player{
    &__container{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        background-color: $c-bgplayer;
        width: 100%;
        max-width: 600px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    &__header{
        background-color: $c-primary;
        text-align: center;
    }
    &__equalizer{
        min-height: 200px;
        background-image: radial-gradient($c-primary, $c-bg);
    }
    &__controls{
        text-align: center;
        padding: 1rem;
    }
    &__playlist{
        border: 1px solid $c-primary;
        border-left: none;
        border-right: none;
        min-height: 300px;
        background-color: $c-bgplayer;
        &__list{
            margin: 0;
            padding: 1rem 2rem;
            &__item{
                padding: 1rem 0;
            }
        }
    }
}
